{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
{% if tag %}
<h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}
{% for post in posts %}
    <h2><a href="{{ post.get_absolute_url }}">{{ post.id }}</a></h2>
    {% comment %}
    <p class="tags">
        Tags:
        {% for tag in post.tags.all %}
            <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p> {% endcomment %}
{% endfor %}

{% include 'pagination.html' with page=page_obj %}
{% endblock %}
